.list-container {
  padding: 11px;
  padding-left: 20px;
  padding-right: 20px;
  color: #7e7d7d;
  cursor: pointer;
  /* background-color: #9dea4d; */
}
.list-container-bg {
  padding: 11px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  background-color: #9dea4d;
}
ul {
  list-style-type: none;
  padding: 0; /* Remove default padding */
  text-align: left;
}
